<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
    <p>Robin Airbnb</p>
    <p id= "newflat">
      <%= link_to new_flat_path do %>
      <i class="fas fa-plus-square"></i> Add a new flat
      <% end %>
    </p>
  </div>
    <%= yield %>
  </body>
</html>
